# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- Some of the popular languages used by Data Scientists
- Some of the commonly used libraries used by Data Scientists
- Some of the Data Science Tools used by Data Scientists
- Examples of evaluating arithmetic expressions in Pyhton

Some of the popular languages that Data Scientists use are:
1. Phyton
2. C++
3. Java
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. Plotly

| Data Science Tools |
| ------------------ |
| Phyton |
| SQL |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [13]:
200 / 60 
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Tayyip YÄ±lmaz